
.about
{
    position: absolute;
    display: flex;
    top: 0px;
    left: 0px;
    background-color: purple;
    height: 200px;
    width: 10000px;
}
.main
{   position: absolute;
    left: 700px;
    top: 150px;
}
img
{

    border-radius: 100%;
    width: 100px;
    height: 100px;
      
}

.text
{
    font-family: 'Trebuchet MS';
    position: relative;

}

